
<h2 class="mat-h2">
    Bus: {{s_ServiceNo}}
</h2>

<mat-vertical-stepper >

  <!--<ng-template matStepperIcon="edit"></ng-template>--> <!-- do this when you want to custom icon for edit -->
  <!--<ng-template matStepperIcon="done"></ng-template>--> <!-- do this when you wnat to custom icon for done -->

  <mat-step *ngFor="let b of b_routes" [completed]="false"> <!-- set completed false to always display no -->
        <ng-template matStepLabel>{{b.BusStopCode}}</ng-template>
  </mat-step>

</mat-vertical-stepper>

