
<h2 class="mat-h2">
    Bus Stop Codes
</h2>

<mat-accordion>
    <mat-expansion-panel *ngFor="let br of busroutes?.value" (opened)="getBusArrivals(br.BusStopCode)">
    <mat-expansion-panel-header>
      <mat-panel-title>
          {{br.BusStopCode}} (Road Name here?)
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>

        <mat-nav-list>
            <!--<h3 mat-subheader>Bus No.</h3> -->
            <mat-list-item *ngFor="let ba of busarrivals?.Services" routerLink="/busroutes/{{ba.ServiceNo}}">
              <p matLine>
                  
                    <mat-grid-list cols="5" rowHeight="50px">
                        <mat-grid-tile><span matTooltip="BusNo">{{ba.ServiceNo}}</span></mat-grid-tile>
                        <mat-grid-tile>
               <span *ngIf="ba.NextBus.Feature == 'WAB'">
                   <mat-icon mat-list-icon matTooltip="Wheel Chair Available">accessible</mat-icon>
               </span>
                            </mat-grid-tile>
                        <mat-grid-tile>
               <span *ngIf="ba.NextBus.Load == 'SEA'">
                    <mat-icon mat-list-icon matTooltip="Seats Available">airline_seat_recline_extra</mat-icon>
               </span>
               <span *ngIf="ba.NextBus.Load == 'SDA'">
                   <!--Standing Available-->
                    <mat-icon mat-list-icon matTooltip="Standing Available">people</mat-icon>
               </span>
               <span *ngIf="ba.NextBus.Load == 'LSD'">
                    <mat-icon mat-list-icon matTooltip="Limited Standing">person</mat-icon>
               </span>
                            </mat-grid-tile>

                            <mat-grid-tile>
               <span *ngIf="ba.NextBus.Type == 'SD'">
                    <mat-icon mat-list-icon matTooltip="Single Deck">directions_bus</mat-icon>
               </span>
               <span *ngIf="ba.NextBus.Type == 'DD'">Double Deck</span>
               <span *ngIf="ba.NextBus.Type == 'BD'">Bendy</span>

                            </mat-grid-tile>
              
                        <mat-grid-tile>
                            <span matTooltip="Estimated Arrival Time">
                              {{ba.NextBus.EstimatedArrival}}      
                            </span> 
                            </mat-grid-tile>
              
                    </mat-grid-list>
              
              </p>  
             

          </mat-list-item>
        </mat-nav-list>

     </ng-template>


  </mat-expansion-panel>

</mat-accordion>


